<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
</head>

<body>
    <div class="flex">
        <div class="col">
            <h1 class="header">{{user.first_name}}, you are successfully registered! </h1>
            <p>Now you can login with your login and password, please go back</p>
            <a class="btn-2" href="/">GO BACK</a>
        </div>
    </div>
</body>
</html>